<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Chess AI</title>

    <!-- CSS files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-1.0.0.min.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-1.0.0.css')}}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='rook_favicon.ico') }}"/>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>


    <!-- Javascript files -->
    <script type = "text/javascript" src="{{ url_for('static', filename='js/chessboard-1.0.0.js')}}"></script>
    <script type = "text/javascript" src="{{ url_for('static', filename='js/chessboard-1.0.0.min.js')}}"></script>
    


  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <h1 id="logo">ChessAI</h1>
          <p>made by <a href="https://tonyastuhuaman.com/">Tony Astuhuaman</a></p>
      </div>
    </nav>
    <hr>

    <div id = "mainWindow">
      <!--<div id="piecesB"></div>-->
      <div id="board" style="width: 400px"></div>
      <!--<div id="piecesW"></div>-->

      <button id="startBtn">Start Position</button>
      <button id="clearBtn">Clear Board</button>

      <div id="stats"> 
        <h3>Turn to move</h3>
        <div id="table">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>White</th>
                <th>Black</th>
              </tr>
            </thead>
          </table>
        </div>

      </div>
    </div>
  
    <br>
    <button>take back</button>
    <button>new game</button>


    <script type="text/javascript">
      function pieceTheme(piece){
        if(piece.search(/w/) !== -1){
          return 'static/img/chesspieces/wikipedia/' + piece + '.png'
        }
        return 'static/img/chesspieces/wikipedia/' + piece + '.png'
      }
      var config = {
        pieceTheme: pieceTheme,
        draggable: true
      }
      var board1 = Chessboard('board', config)
      
      $('#startBtn').on('click', board1.start)
      $('#clearBtn').on('click', board1.clear)
    </script>
  </body>
</html>