<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chess AI</title>
    <!-- CSS files -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/chessboard-1.0.0.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/chessboard-1.0.0.css')}}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='rook_favicon.ico') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
    <!-- Javascript files -->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/chessboard-1.0.0.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/chessboard-1.0.0.min.js')}}"
    ></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <h1 id="logo">ChessAI</h1>
        <a href="https://github.com/trobutlef/Chess-AI">
          <img
            src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
            style="width: 20px"
          />
        </a>
        <br />
        <p>made by <a href="https://tonyastuhuaman.com/">Tony Astuhuaman</a></p>
      </div>
    </nav>
    <hr />
    <!--<a href="/selfplay">Play vs itself</a>-->

    <button onclick="newGame()">Play vs Tony AI</button><br />
    <div id="board" style="width: 600 px"></div>
    <div id="moves-table">
      <table id="moves">
        <thead>
          <tr>
            <th>Move</th>
            <th>White</th>
            <th>Black</th>
          </tr>
        </thead>
        <tbody id="moves-body">
          <!-- Rows will be added here dynamically -->
        </tbody>
      </table>
    </div>

    <p></p>
    <script type="text/javascript">
      function pieceTheme(piece) {
        //white pieces
        if (piece.search(/w/) !== -1) {
          return "static/img/chesspieces/wikipedia/" + piece + ".png";
        }
        //black pieces
        return "static/img/chesspieces/wikipedia/" + piece + ".png";
      }
      var config = {
        pieceTheme: pieceTheme,
        position: "start",
        draggable: true,
        onDrop: onDrop,
      };
      var board = Chessboard("board", config);
      function newGame() {
        $.get("/newgame", function (r) {
          document.querySelector("p").innerText = "";
          board.position(r);
        });
      }
      var moveCounter = 1;

      function addMove(whiteMove, blackMove) {
        var tableBody = document.getElementById("moves-body");
        var newRow = document.createElement("tr");

        var moveCell = document.createElement("td");
        moveCell.textContent = moveCounter;

        var whiteCell = document.createElement("td");
        whiteCell.textContent = whiteMove;

        var blackCell = document.createElement("td");
        blackCell.textContent = blackMove;

        newRow.appendChild(moveCell);
        newRow.appendChild(whiteCell);
        newRow.appendChild(blackCell);

        tableBody.appendChild(newRow);

        moveCounter++;
      }

      function onDrop(source, target) {
        $.ajax({
          type: "POST",
          url: "/bestmove",
          contentType: "application/json;charset=UTF-8",
          data: JSON.stringify({ move: source + target }),
          success: function (response) {
            board.position(response.fen);
          },
        });
        addMove(source, target);
      }
    </script>
  </body>
</html>
